$primary-color: #00BCD4;
$secondary-color: #0097A7;
$tertiary-color: #BDBDBD;
$primary-accent-color: #FF4081;
$secondary-accent-color: #F5F5F5;
$tertiary-accent-color: #9E9E9E;
$border-color: #E0E0E0;
$alternate-text-color: #FCFCFC;
$text-color: #423e3e;
$system-black: #000000
