@import '~styles/colors';

.create-company
{
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid $border-color;
}

.create-company-input
{
  margin-right: 10px;
}

.create-company-action
{

}
