@import '~styles/colors';

.create-caravana
{
  padding: 10px;
  border: 1px solid $border-color;
}

.create-caravana-input
{
  margin-right: 10px;
}

.create-caravana-container
{
  margin: 0 10%;
  width: 80%;
}
