@import '~styles/colors';

.configuration
{
  padding: 30px;
}

.configuration-container {
  width: 400px;
  margin: 40px auto;
  text-align: center;
}

.configuration-actions
{
  margin: 20px auto;
}
