@import '~styles/colors';

.edit-caravana
{
  border: 1px solid $border-color;
  padding: 10px;
  margin: 0 auto;
  width: 400px;
}

.edit-caravana-input
{
  margin-right: 10px;
}

.edit-caravana-action
{
  margin-right: 10px;
}
