@import '~styles/colors';

.company-list-remove
{
  color: #00BCD4;
}

.company-list-empty
{
  color: $secondary-color;
  text-align: center;
}

.company-list-active
{
  color: $secondary-color;
  font-weight: 500;
}

.delete-movement-actions {
  margin-right: 10px;
}

.movement-list-modal-message
{
  margin-bottom: 40px;
  margin-top: 0;
  color: $primary-accent-color;
}
