@import '~styles/colors';

.caravana-list-empty
{
  color: $secondary-color;
  text-align: center;
}

.caravana-list-link
{
  color: $secondary-color;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.caravana-list-header-item
{
  display: inline-block;
}

.caravana-list-header-item-action
{
  display: inline-block;
  float: right;
}
